@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #40c9ff 1.84%, #e81cff 102.67%);
  --gradient-text-reverse: linear-gradient(89.97deg, #e81cff 1.84%, #40c9ff 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #181818;
  --color-footer : #031B34;
  --color-header: #1bbb8b;
  --color-text: #c2ffee;
  --color-subtext: #FF8A71;
}